.nao-posicionada {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: green;
}

.relativa {
  position: relative;
  top: 10px;
  left: 10px;
  background-color: orange;
}

.absoluta {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
}